<!-- quiz/templates/index.html -->
<html>
	<head>
		<title>Quiz Film</title>
	</head>
	<body>
		<h1>Quiz FILM</h1>
		<form method="POST">
			{% for entry in questions %}
				<p>
					{{ entry.question }}
						<br>
						{% set question_number = loop.index0 %}
						{% for answer in entry.answers %}
							<label>
								<input type="radio" value="{{ odpowiedz }}" name="{{ question_number }}">
								{{ answer }}
							</label>
						<br>
					{% endfor %}
				</p>
			{% endfor %}
			<button type="submit">Sprawdź odpowiedzi</button>
		</form>
	</body>
</html>
